@font-face {
    font-family: "OpenSans";
    src: url("./assets/fonts/OpenSans-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "OpenSans";
    src: url("./assets/fonts/OpenSans-Italic.woff") format("woff");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "OpenSans";
    src: url("./assets/fonts/OpenSans-SemiBold.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "OpenSans";
    src: url("./assets/fonts/OpenSans-SemiBoldItalic.woff") format("woff");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "OpenSans";
    src: url("./assets/fonts/OpenSans-Bold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "OpenSans";
    src: url("./assets/fonts/OpenSans-BoldItalic.woff") format("woff");
    font-weight: 600;
    font-style: italic;
}

html {
    overflow: hidden;
    font-family: OpenSans, sans-serif;
}

#app {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--main);
}

::-webkit-scrollbar-button {
    background-image: url("");
    background-repeat: no-repeat;
    width: 4px;
    height: 0px;
}

:-webkit-scrollbar-track {
    background-color: var(--grey-lowest);
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 2px;
    border-radius: 2px;
    height: 50px;
    background-color: var(--grey-high);
}

::-webkit-scrollbar-thumb:hover{
    background-color :var(--grey-highest);
}

::-webkit-resizer{
    background-image:url('');
    background-repeat:no-repeat;
    width:4px;
    height:0px
}

::-webkit-scrollbar{
    width: 4px;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .2s ease;
}
.fade-enter, .fade-leave-active {
    opacity: 0;
}
